#banner{
	width: 100%;
}

#paragraph{
	font-size: 120%;
	line-height: 30px;
	text-align: center;
}

#background{
	background-color:lightgrey;
}


{
	margin: 0;
	padding: 5;
}

#topbanner{
	display: flex;
}

h1{
	position: absolute;
	font-size: 500%;
	color:white;
	top: 35%;
	left: 35%;
}